menuinst==2.0.1
six==1.17.0
boltons==23.0.0
Brotli==1.0.9
setproctitle==1.3.4
charset-normalizer==2.0.4
distro==1.8.0
idna==3.4
jsonpointer==2.1
libmambapy==1.5.3
packaging==23.1
platformdirs==3.10.0
pycosat==0.6.6
pycparser==2.21
PySocks==1.7.1
ruamel.yaml==0.17.21
tqdm==4.65.0
truststore==0.8.0
wheel==0.41.2
cffi==1.16.0
jsonpatch==1.32
pip==23.3.1
cryptography==41.0.7
zstandard==0.19.0
conda-content-trust==0.2.0
conda_package_streaming==0.9.0
pyOpenSSL==23.2.0
conda-package-handling==2.2.0
urllib3==1.26.18
requests==2.31.0
conda-libmamba-solver==23.12.0
mkl-service==2.4.0
numpy==1.26.3
mkl-fft==1.3.8
mkl-random==1.2.4
pillow==11.1.0
archspec==0.2.3
certifi==2025.1.31
frozendict==2.4.2
conda==24.11.3
nvidia-cusparselt-cu12==0.6.2
mpmath==1.3.0
websocket-client==1.8.0
typing_extensions==4.12.2
tornado==6.4.2
sympy==1.13.1
smmap==5.0.2
sentry-sdk==2.22.0
scipy==1.15.2
PyYAML==6.0.2
psutil==7.0.0
protobuf==5.29.3
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
nvidia-cusparse-cu12==12.3.1.170
fonttools==4.56.0
networkx==3.4.2
MarkupSafe==3.0.2
fsspec==2025.2.0
filelock==3.17.0
dominate==2.9.1
click==8.1.8
annotated-types==0.7.0
visdom==0.2.4
pydantic_core==2.27.2
nvidia-cudnn-cu12==9.1.0.70
Jinja2==3.1.5
gitdb==4.0.12
docker-pycreds==0.4.0
pydantic==2.10.6
cycler==0.12.1
GitPython==3.1.44
wandb==0.19.6
contourpy==1.3.1
pyparsing==3.2.1
kiwisolver==1.4.8
namex==0.0.8
pytz==2025.1
tzdata==2025.1
python-dateutil==2.9.0.post0
pandas==2.2.3
tensorboardX==2.6.2.2
libclang==18.1.1
tifffile==2025.2.18
lazy_loader==0.4
wrapt==1.17.2
imageio==2.37.0
scikit-image==0.25.2
nvidia-nvtx-cu12==12.4.127
nvidia-nvjitlink-cu12==12.4.127
nvidia-nccl-cu12==2.21.5
matplotlib==3.10.0
nvidia-curand-cu12==10.3.5.147
flatbuffers==25.2.10
nvidia-cufft-cu12==11.2.1.3
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cusolver-cu12==11.6.1.9
Werkzeug==3.1.3
termcolor==2.5.0
tensorflow-io-gcs-filesystem==0.37.1
tensorboard-data-server==0.7.2
Pygments==2.19.1
optree==0.14.0
opt_einsum==3.4.0
ml-dtypes==0.4.1
mdurl==0.1.2
Markdown==3.7
h5py==3.13.0
grpcio==1.70.0
google-pasta==0.2.0
gast==0.6.0
astunparse==1.6.3
absl-py==2.1.0
tensorboard==2.18.0
markdown-it-py==3.0.0
rich==13.9.4
keras==3.8.0
tensorflow==2.18.0
wcwidth==0.2.13
pure_eval==0.2.3
ptyprocess==0.7.0
traitlets==5.14.3
prompt_toolkit==3.0.50
pexpect==4.9.0
parso==0.8.4
executing==2.2.0
decorator==5.2.1
asttokens==3.0.0
stack-data==0.6.3
matplotlib-inline==0.1.7
jedi==0.19.2
ipython==8.32.0
ipdb==0.13.13
chainer==7.8.1
threadpoolctl==3.5.0
joblib==1.4.2
scikit-learn==1.6.1
pytorch-fid==0.3.0
opencv-python==4.11.0.86
setuptools==76.0.0
ez_setup==0.9
lmdb==1.6.2
addict==2.4.0
yapf==0.43.0
tabulate==0.9.0
pytest-runner==6.0.1
pyflakes==3.3.2
pycodestyle==2.13.0
py==1.11.0
pluggy==1.5.0
mccabe==0.7.0
isort==4.3.21
iniconfig==2.1.0
humanfriendly==10.0
coverage==7.8.0
colorama==0.4.6
attrs==25.3.0
pytest==8.3.5
mmcv-full==1.7.2
interrogate==1.7.0
flake8==7.2.0
coloredlogs==15.0.1
codecov==2.1.13
onnxruntime==1.21.1
regex==2024.11.6
ftfy==6.3.1
clip==1.0
triton==3.2.0
torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
ailut==1.5.0
platformdirs==4.2.2
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
